$green: #3AB434;
$black: #373D46;
$darkBlack: #333;
$white: #F8F8F8;
$darkWhite: #D8DBE6;
$grey: #828EA0;
$lightGrey: #C4C4C4;
$orange: #E94A17;
$red: #FB0606;
$shadowColor: #889597;
$hoverColor: #D6D9E4;
$borderColor: #BBBBBA;